<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <author>Janno Lunenburg</author>
    <license>BSD</license>
    <review status="unreviewed" notes=""/>
    
    <!--the root of the tf-tree, because it serves only this function it has no visuals-->
    <xacro:my_link name="base_link" mass="0" color="White">
       <cylinder radius="0.0" length="0.00" />
       <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
       <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
       <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" /> 
    </xacro:my_link>
    
    <!--base block-->
    <xacro:my_link name="base" mass="0.1" color="White"><!--ToDo: estimate mass-->
        <!--box size="0.713 0.500 0.11" /--><!--ToDo: check dimensions, adjust height-->
        
        <!-- Large box for better self-filtering -->
        <box size="0.713 0.650 0.3" />
        
        <origin xyz="-0.0235 0.0 0.0" rpy="0 0 0"/>
        <origin xyz="-0.0235 0.0 0.0" rpy="0 0 0"/>
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" /><!--Estimate inertia-->
    </xacro:my_link>    
    
    <!-- side pots -->
    <xacro:my_link name="sidepot_left" mass="0.1" color="White"><!--ToDo: estimate mass-->
        <box size="0.400 0.0615 0.1" /><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" /><!--Estimate inertia-->
    </xacro:my_link>
    
    <xacro:my_link name="sidepot_right" mass="0.1" color="White"><!--ToDo: estimate mass-->
        <box size="0.400 0.0615 0.1" /><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" /><!--Estimate inertia-->
    </xacro:my_link>
    
    <!-- base - torso interface -->
    <xacro:my_link name="base_torso_mount" mass="0" color="White">
       <cylinder radius="0.0" length="0.00" />
       <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
       <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
       <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" /> 
    </xacro:my_link>

    <!-- base - laser interface -->
    <xacro:my_link name="laser_mount" mass="0.01" color="White">
       <box size="0.01 0.06 0.035" />
       <origin xyz="0.005 0.0 0.0175" rpy="0 0 0"/>
       <origin xyz="0.005 0.0 0.0175" rpy="0 0 0" />
        <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
    </xacro:my_link>

    <!-- base - back laser interface -->
    <xacro:my_link name="back_laser_mount" mass="0.01" color="White">
       <box size="0.01 0.06 0.035" />
       <origin xyz="0.005 0.0 0.0175" rpy="0 0 0"/>
       <origin xyz="0.005 0.0 0.0175" rpy="0 0 0"/>
       <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
    </xacro:my_link>
    
    <!-- joints -->
    <joint name="base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base"/>
        <axis xyz="1 0 0"/>
        <origin xyz="0.0 0.0 0.085" rpy="0 0 0"/><!--ToDO: adjust height-->
    </joint>
    
    <joint name="sidepot_left_joint" type="fixed">
        <parent link="base"/>
        <child link="sidepot_left"/>
        <axis xyz="1 0 0"/>
        <origin xyz="0.0 0.28075 0.0" rpy="0 0 0"/><!--ToDO: adjust distance-->
    </joint>
    
    <joint name="sidepot_right_joint" type="fixed">
        <parent link="base"/>
        <child link="sidepot_right"/>
        <axis xyz="1 0 0"/>
        <origin xyz="0.0 -0.28075 0.0" rpy="0 0 0"/><!--ToDO: adjust distance-->
    </joint>
    
    <joint name="base_mount_joint" type="fixed">
        <parent link="base"/>
        <child link="base_torso_mount"/>
        <origin xyz="0.0 0.0 0.055" rpy="0 0 0.0"/><!--ToDo: adjust height-->
    </joint>

    <joint name="laser_mount_joint" type="fixed">
        <parent link="base"/>
        <child link="laser_mount"/>
        <origin xyz="0.2995 0.0 0.055" rpy="3.141592653589793 0.0 0.0"/>
    </joint>

    <joint name="back_laser_mount_joint" type="fixed">
        <parent link="base"/>
        <child link="back_laser_mount"/>
        <origin xyz="-0.285 0.0 0.27" rpy="0.0 0.0 0.0"/>
    </joint>
    
</robot>
    
