<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <author>Ton Peters</author>
   <license>BSD</license>
   <review status="unreviewed" notes=""/>

<!--Start of the macro
@param laser_name, is used to locate the sensor
@param laser_parent, parent
@param laser_xyz, transform from parent to laser center (center is at l=0.3 w=0.3 h=60.5)
@param laser_rpy, rotation from parent to laser center (x points forward, z to the top)
-->
 <xacro:macro name="laser" params="laser_name laser_parent laser_xyz laser_rpy">

<!-- joint origin of the laser range finder -->
<joint name="${laser_name}_lasercenter_joint" type="fixed">
    <parent link="${laser_parent}"/>
    <child link="${laser_name}_laser"/>
    <origin xyz="${laser_xyz}" rpy="${laser_rpy}"/>
</joint>

<!-- link visualize the black part of the laser-->
<xacro:my_link name="${laser_name}_laser" mass="0.5" color="Black">
   <box size="0.06 0.06 0.069" /> 
   <!--<origin xyz="0.0 0.0 -0.0205" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 -0.0205" rpy="0 0 0" />-->
   <origin xyz="0.0 0.0 -0.026" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 -0.026" rpy="0 0 0" />
   <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
</xacro:my_link>

<!-- joint origin of the orange top -->
<joint name="${laser_name}_lasertop_joint" type="fixed">
    <parent link="${laser_name}_laser"/>
    <child link="${laser_name}_lasertop"/>
    <!--<origin xyz="0.0 0.0 0.023" rpy="0 0 0"/>-->
    <origin xyz="0.0 0.0 0.0175" rpy="0 0 0"/>
</joint>

<!-- link visual of the orange top -->
<xacro:my_link name="${laser_name}_lasertop" mass="0.01" color="Orange">
   <box size="0.06 0.06 0.018" />
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
   <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
</xacro:my_link>

</xacro:macro>

</robot>
