<?xml version="1.0"?>
<launch>

    <arg name="robot_name" default="amigo2"/>
    
    <arg name="robot_init_x" default="0" />
    <arg name="robot_init_y" default="0" />
    <arg name="robot_init_phi" default="0" />
    
    <!-- load robot -->
    <param name="/$(arg robot_name)/robot_description" textfile="$(find amigo2_description)/urdf/amigo2.urdf" />
    
    <!-- state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen" ns="$(arg robot_name)">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="$(arg robot_name)" />
        <remap from="joint_states" to="/$(arg robot_name)/joint_states"/>
    </node>
    
    <!-- dummy joint publisher -->
    <!--<node name="dummy_joint_publisher" pkg="amigo2_description" type="publish_jointstates.py">
        <remap from="joint_states" to="/$(arg robot_name)/joint_states"/>
    </node>-->
    
    <!-- spawn robot in gazebo -->
    <node pkg="tue_gazebo_plugins" type="gzfactory" name="spawn_$(arg robot_name)">
        <param name="command" value="spawn"/>
        <param name="sdf" value="$(find amigo2_description)/sdf/amigo2.sdf"/>
        <param name="model_name" value="$(arg robot_name)"/>
        <param name="x" value="$(arg robot_init_x)"/>
        <param name="y" value="$(arg robot_init_y)"/>
        <param name="yaw" value="$(arg robot_init_phi)"/>
    </node>

</launch>
