<?xml version="1.0"?>
<launch>
    
    <!-- load robot -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find amigo2_description)/urdf/xacro/robot.urdf.xacro' " />
    
    <!-- state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen"/>
    
    <!-- dummy joint publisher -->
    <node name="dummy_joint_publisher" pkg="amigo2_description" type="publish_jointstates.py"/>

</launch>
