<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <author>Rob Janssen, Kris van Tienhoven</author>
    <license>BSD</license>
    <review status="unreviewed" notes=""/>
   
   <!--mounting frame-->
    <xacro:my_link name="torso_mounting_frame" mass="0.1" color="White"><!--ToDo: estimate mass-->
        <box size="0.500 0.400 0.05" /><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.0 0.0 0.025" rpy="0 0 0"/>
        <origin xyz="0.0 0.0 0.025" rpy="0 0 0"/>
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" /><!--Estimate inertia-->
    </xacro:my_link>
    
    <!-- Lower rear leg -->
    <xacro:my_link name="lower_rear_leg" mass="5" color="White"><!--ToDo: estimate mass-->
        <box size="0.390 0.200 0.05" /><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.195 0.0 0.0" rpy="0 0 0"/><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.195 0.0 0.0" rpy="0 0 0"/><!--ToDo: check dimensions, adjust height-->
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" /><!--Estimate inertia-->
    </xacro:my_link>
    
    <!-- Upper leg (part from lower rear leg joint to trunk joint) -->
    <xacro:my_link name="upper_leg" mass="5" color="White"><!--ToDo: estimate mass-->
        <box size="0.4115 0.200 0.1" /><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.20575 0.0 0.0" rpy="0 0 0"/><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.20575 0.0 0.0" rpy="0 0 0"/><!--ToDo: check dimensions, adjust height-->
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" /><!--Estimate inertia-->
    </xacro:my_link>
    
    <!-- Trunk -->
    <xacro:my_link name="trunk" mass="10" color="White"><!--ToDo: estimate mass-->
        <box size="0.445 0.200 0.15" /><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.2225 0.0 0.0" rpy="0 0 0"/><!--ToDo: check dimensions, adjust height-->
        <origin xyz="0.2225 0.0 0.0" rpy="0 0 0"/><!--ToDo: check dimensions, adjust height-->
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" /><!--Estimate inertia-->
    </xacro:my_link>
    
    <!-- joints -->
    <joint name="torso_mount_joint" type="fixed">
        <parent link="base_torso_mount"/>
        <child link="torso_mounting_frame"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0.0"/><!--ToDo: adjust height-->
    </joint>
   
    <xacro:my_joint name="ankle_joint" type="revolute" parent="torso_mounting_frame" child="lower_rear_leg">
        <origin xyz="-0.185 0.0 0.045" rpy="0 0 0"/><!-- ToDo: adjust height-->
        <dynamics damping="6.0" friction="4.87"/><!-- ToDo: adjust dynamics-->
        <axis xyz="0 -1 0"/><!--ToDo: DH parameters?-->
        <limit effort="1000" velocity="0.265" lower="0.0" upper="1.059" /> <!--ToDo: adjust parameters-->
        <!--<limit effort="1000" velocity="10" lower="0.87" upper="0.87" />--> <!--TEMP: fixed joint positions until control is fixed-->
    </xacro:my_joint>
    
    <xacro:my_joint name="knee_joint" type="revolute" parent="lower_rear_leg" child="upper_leg">
        <origin xyz="0.390 0.0 0." rpy="3.14 3.14 0"/><!-- ToDo: adjust height-->
        <dynamics damping="6.0" friction="4.87"/><!-- ToDo: adjust dynamics-->
        <axis xyz="0 -1 0"/><!--ToDo: DH parameters?-->
        <limit effort="1000" velocity="0.539" lower="0.0" upper="2.158" /> <!--ToDo: adjust parameters -->
        <!--<limit effort="1000" velocity="10" lower="2.0" upper="2.0" />--> <!--TEMP: fixed joint positions until control is fixed -->
    </xacro:my_joint>
    
    <xacro:my_joint name="hip_joint" type="revolute" parent="upper_leg" child="trunk">
        <origin xyz="0.4115 0.0 0." rpy="3.14 3.14 0"/><!-- ToDo: adjust height-->
        <dynamics damping="6.0" friction="4.87"/><!-- ToDo: adjust dynamics-->
        <axis xyz="0 -1 0"/><!--ToDo: DH parameters?-->
        <limit effort="1000" velocity="0.375" lower="0.85" upper="2.36" /> <!--ToDo: adjust parameters --><!--Velocity: move in 4 s-->
        <!--<limit effort="1000" velocity="10" lower="2.36" upper="2.36" />--> <!--TEMP: fixed joint positions until control is fixed-->
    </xacro:my_joint>

</robot>
