<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <author>Ton Peters</author>
   <license>BSD</license>
   <review status="unreviewed" notes=""/>

<!-- origin of the ultrasone sensor-->
<joint name="base_sonar1_joint" type="fixed" >
    <parent link="base"/>
    <child link="base_sonar1"/>
    <!--<origin xyz="-0.380 0.0 0.0" rpy="0.0 0 3.14"/>-->
    <origin xyz="0.370 0.3115 0.0" rpy="0.0 0 1.57"/>
</joint>

<!-- visual of the ultrasone sensor -->
<xacro:my_link name="base_sonar1" mass="0.05" color="Red">
   <cylinder radius="0.005" length="0.01" /> 
   <origin xyz="0.005 0.0 0.0" rpy="0 0.0 0"/>
   <origin xyz="0.005 0.0 0.0" rpy="0 1.57 0" />
   <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
</xacro:my_link>

<!-- origin of the ultrasone sensor-->
<joint name="base_sonar2_joint" type="fixed" >
    <parent link="base"/>
    <child link="base_sonar2"/>
    <!--<origin xyz="-0.380 0.311 0.0" rpy="0.0 0 3.14"/>-->
    <origin xyz="0.124 0.3115 0.0" rpy="0.0 0 1.57"/>
</joint>

<!-- visual of the ultrasone sensor -->
<xacro:my_link name="base_sonar2" mass="0.05" color="Red">
   <cylinder radius="0.005" length="0.01" /> 
   <origin xyz="0.005 0.0 0.0" rpy="0 0.0 0"/>
   <origin xyz="0.005 0.0 0.0" rpy="0 1.57 0" />
   <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
</xacro:my_link>

<!-- origin of the ultrasone sensor-->
<joint name="base_sonar3_joint" type="fixed" >
    <parent link="base"/>
    <child link="base_sonar3"/>
    <!--<origin xyz="-0.380 -0.311 0.0" rpy="0.0 0 3.14"/>-->
    <origin xyz="-0.124 0.3115 0.0" rpy="0.0 0 1.57"/>
</joint>

<!-- visual of the ultrasone sensor -->
<xacro:my_link name="base_sonar3" mass="0.05" color="Red">
   <cylinder radius="0.005" length="0.01" /> 
   <origin xyz="0.005 0.0 0.0" rpy="0 0.0 0"/>
   <origin xyz="0.005 0.0 0.0" rpy="0 1.57 0" />
   <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
</xacro:my_link>

<!-- origin of the ultrasone sensor-->
<joint name="base_sonar4_joint" type="fixed" >
    <parent link="base"/>
    <child link="base_sonar4"/>
    <origin xyz="-0.370 0.3115 0.0" rpy="0.0 0 1.57"/>
</joint>

<!-- visual of the ultrasone sensor -->
<xacro:my_link name="base_sonar4" mass="0.05" color="Red">
   <cylinder radius="0.005" length="0.01" /> 
   <origin xyz="0.005 0.0 0.0" rpy="0 0.0 0"/>
   <origin xyz="0.005 0.0 0.0" rpy="0 1.57 0" />
   <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
</xacro:my_link>

</robot>
