<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="sergio">
       <!--xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">-->
       
    <author>Janno Lunenburg</author>
    <license>BSD</license>
    <review status="unreviewed" notes=""/>
    
    <!-- ToDo: In general: look at DH conventions-->
   
    <!--get link & joint definitions -->
    <!--Definitions from default package?-->
    <!--get link & joint definitions -->
    <!--<xacro:include filename="$(find amigo_robot_model)/description/definitions.xacro" />-->
    <xacro:include filename="$(find amigo_description)/urdf/xacro/macro_definitions.xacro" />

    <!--get custom materials -->
    <!--<xacro:include filename="$(find amigo_robot_model)/description/materials.urdf.xacro" />-->
    <xacro:include filename="$(find amigo_description)/urdf/xacro/materials.urdf.xacro" />
    
    <!--========BUILD BASE======-->
    <xacro:include filename="$(find sergio_description)/urdf/xacro/base/base.urdf.xacro" />
    
    <!--========BUILD TORSO======-->
    <xacro:include filename="$(find sergio_description)/urdf/xacro/torso/torso.urdf.xacro" />
    
    <!--========BUILD ARMS======-->
    <xacro:include filename="$(find sergio_description)/urdf/xacro/arms/arm.urdf.xacro" />
    <xacro:arm whichside="right" sidesign="+1.0" rollsign="+"/>
    <xacro:arm whichside="left"  sidesign="-1.0" rollsign="-"/>
    
    <!--========BUILD HEAD======-->
    <xacro:include filename="$(find sergio_description)/urdf/xacro/head/head.urdf.xacro" />
    
    <!--========BUILD KINECT======-->
    <xacro:include filename="$(find sergio_description)/urdf/xacro/kinect/top_kinect.urdf.xacro" />
    
    <!--========BUILD LASER======-->
    <xacro:include filename="$(find sergio_description)/urdf/xacro/laser/laser.urdf.xacro" />
    <xacro:include filename="$(find sergio_description)/urdf/xacro/laser/torso_laser.urdf.xacro" />
    
    <!-- GAZEBO -->
    <xacro:include filename="$(find sergio_description)/urdf/xacro/gazebo.urdf.xacro"/>


</robot>
